.Heading {
    text-align: center;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}

.kembali {
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    text-decoration-line: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}